.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
.Spotlight-V100
.Trashes
.idea
.vscode
.github
.env
.idea
*.sublime*
*.ai
*.log
*.pdf
*.psd
_config.yml
yarn.lock
package-lock.json
npm-debug.*
build/
dist/
public_html/
prod/
node_modules/
**/*.css
